<div class="overlay">
</div>
<div class="hp-grid">
  <div class="circle-vline">
    <div class="circle-vline2"></div>
  </div>

  <div class="circle-hline"></div>
  <div class="circle-button-placeholder"></div>
  <div class="circle-button"></div>
  <div class="circle shake1"></div>
  <div class="triangle shake2"></div>
  <div class="square shake3"></div>
</div>
