.shake1 {
  animation: shake1 1.5s  alternate infinite;
}

.shake2 {
  animation: shake2 2.5s  alternate infinite;
}

.shake3 {
  animation: shake3 1.3s  alternate infinite;
}

@keyframes shake1 {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes shake2 {
  0% { transform: translate(-2px, -1px) rotate(0deg); }
  10% { transform: translate(1px, 2px) rotate(1deg); }
  20% { transform: translate(3px, 0px) rotate(-1deg); }
  30% { transform: translate(-3px, -2px) rotate(0deg); }
  40% { transform: translate(-1px, 1px) rotate(-1deg); }
  50% { transform: translate(1px, -2px) rotate(1deg); }
  60% { transform: translate(3px, -1px) rotate(0deg); }
  70% { transform: translate(3px, -1px) rotate(1deg); }
  80% { transform: translate(1px, 1px) rotate(-1deg); }
  90% { transform: translate(-1px, -2px) rotate(0deg); }
  100% { transform: translate(-1px, 2px) rotate(1deg); }
}

@keyframes shake3 {
  10%, 90% { transform: translate(0, -1px) rotate(1deg); }
  20%, 80% { transform: translate(0, 2px) rotate(-1deg); }
  30%, 50%, 70% { transform: translate(0, -4px) rotate(1deg); }
  40%, 60% { transform: translate(0, 3px) rotate(0deg); }
}


@keyframes rotating-right {
  from {
    transform: rotate(0deg);
    transform-origin: center center;
  }
  to {
    transform: rotate(360deg);
    transform-origin: center center;
  }
}

@keyframes rotating-left {
  from {
    transform: rotate(0deg);
    transform-origin: center center;
  }
  to {
    transform: rotate(-360deg);
    transform-origin: center center;
  }
}

#svg-shapes #circle {
  #inner-circle {
    animation: rotating-left 5s linear infinite;
  }
  #outer-circle1 {
    animation: rotating-left 7s linear infinite;
  }
  #outer-circle2 {
    animation: rotating-right 12s linear infinite;
  }
}

@keyframes goes-right {
  0% { transform: translate(0%, 0); }
  100% { transform: translate(100%, 0); }
}

@keyframes goes-right2 {
  0% { transform: translate(-100%, 0); }
  100% { transform: translate(0%, 0); }
}

// @keyframes goes-right3 {
//   0% { transform: translate(-50%, 0); }
//   100% { transform: translate(50%, 0); }
// }

// @keyframes goes-left {
//   0% { transform: translate(100%, 0); }
//   100% { transform: translate(-100%, 0); }
// }

@keyframes goes-up {
  // 0% { transform: translate(50%, 100%); }
  0% { transform: translate(0, 0); }
  100% { transform: translate(-50%, -100%); }
}

@keyframes goes-up2 {
  0% { transform: translate(50%, 100%); }
  100% { transform: translate(0, 0); }
  // 100% { transform: translate(-50%, -100%); }
}

@keyframes goes-down {
  0% { transform: translate(0, 0); }
  100% { transform: translate(-50%, 100%); }
}

@keyframes goes-down2 {
  0% { transform: translate(50%, -100%); }
  100% { transform: translate(0, 0); }
}



#svg-shapes #triangle {
  #inner-triangle #inner-triangle-left {
    animation: goes-down 2s linear infinite;
  }
  #inner-triangle #inner-triangle-bottom {
    animation: goes-right 2s linear infinite;
  }
  #inner-triangle #inner-triangle-right {
    animation: goes-up 2s linear infinite;
  }

  #outer-triangle #outer-triangle-left {
    animation: goes-down 3s linear infinite;
  }
  #outer-triangle #outer-triangle-bottom {
    animation: goes-right 3s linear infinite;
  }
  #outer-triangle #outer-triangle-right {
    animation: goes-up 3s linear infinite;
  }
}

#svg-shapes #triangle2 {
  #inner-triangle #inner-triangle-left {
    animation: goes-down2 2s linear infinite;
  }
  #inner-triangle #inner-triangle-bottom {
    animation: goes-right2 2s linear infinite;
  }
  #inner-triangle #inner-triangle-right {
    animation: goes-up2 2s linear infinite;
  }

  #outer-triangle #outer-triangle-left {
    animation: goes-down2 3s linear infinite;
  }
  #outer-triangle #outer-triangle-bottom {
    animation: goes-right2 3s linear infinite;
  }
  #outer-triangle #outer-triangle-right {
    animation: goes-up2 3s linear infinite;
  }
}





